html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  letter-spacing: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  word-spacing: 2px;
  color: white;
  background-image: url("./assets/Medicate-Global-image-logo1.jpg");
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: cyan;
}

#app {
  display: block;
  position: relative;
}

#wrap-outer-layer-header {
  display: flex;
  gap: 10px;
}

#wrap-inner-layer-header {
  display: flex;
  gap: 10px;
}

#header-right-side {
  display: block;
}

#flex-items {
  display: flex;
}

#flex-items #ingredients-btn1,
#flex-items #ingredients-btn2 {
  justify-content: left;
}

#ingredients {
  position: relative;
  background-color: rgb(15, 157, 201);
  padding: 4.5px 13.5px;
  font-weight: 600;
  color: white;
  border-color: rgb(15, 157, 201);
  border-radius: 2px;
}

#material-container.visibles {
  display: flex;
  position: absolute;
  top: 33px;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 30px;
}

#material-container.invisibles {
  display: none;
}

#natural-material {
  display: block;
}

.natural-material-wrapper {
  display: block;
  position: absolute;
  text-align: center;
  width: 1330px;
  height: auto;
  top: -500px;
  left: -120px;
}

.natural-material-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  background-color: rgb(15, 157, 201);
  transition-timing-function: ease-out;
  transition-duration: 350ms;
}

.natural-material-links.false {
  display: none;
}

.natural-material-wrapper:nth-child(1) {
  display: block;
}

.natural-material-wrapper:nth-child(2) {
  display: flex;
}

.natural-material-wrapper .natural-material p {
  text-decoration: underline;
  color: aquamarine;
}

.natural-material-wrapper .natural-material a {
  display: block;
  margin: 20px 15px;
  text-align: left;
}

.inputsearch:nth-child(1) {
  position: relative;
  height: 30px;
  border: none;
  color: white;
  background-color: rgb(15, 157, 201);
}

.inputsearch:nth-child(2) {
  position: relative;
  padding: 2px 5px;
  height: 30px;
  left: 10px;
  background-color: rgb(15, 157, 201);
  font-weight: 600;
  color: white;
  border: none;
}

/*App description content start*/
.wrap-inner-description-layer {
  text-align: center;
  margin: 10px 130px;
}

.wrap-inner-description-layer:nth-child(2) {
  position: relative;
  margin-top: 100px;
}

#content-layer {
  margin: 10px 40px;
  width: 1000px;
}

#content-layer .content-section2 {
  margin: 0 142px 0 142px;
  padding-bottom: 15px;
  text-align: left;
}

h2 {
  margin-top: 30px;
}

h3,
h4 {
  margin-top: 40px;
  text-align: left;
}

.content-section2 p,
.content-wrapper:nth-child(2) p {
  text-align: justify;
}

.content-wrapper {
  margin: 0 auto;
}

blockquote {
  font-size: 30pt;
  width: 1000px;
  background-image: linear-gradient(to left,
      rgba(87, 226, 22, 0.8),
      rgba(46, 218, 160, 0.5),
      rgba(15, 157, 201, 0.8));
  /* transform: rotate(-20deg); */
  color: whitesmoke;
}

/*App description content end*/

/*Component rendering*/
.flex-content {
  display: flex;
}

.component-content-rendering {
  margin: 40px auto 0 0;
  background-color: rgba(4, 107, 110, 0.8);
}

.component-ingredient-name {
  margin: auto auto;
  padding: 0 15px;
  width: fit-content;
  border-radius: 10px;
  background: rgba(15, 157, 201, 0.8);
}

#span-heading {
  display: block;
  margin: auto auto;
  font-size: 22pt;
}

.ingredient-hub ul {
  display: flex;
  justify-content: center;
  width: inherit;
  background-image: linear-gradient(to left,
      rgba(87, 226, 22, 0.8),
      rgba(46, 218, 160, 0.5),
      rgba(15, 157, 201, 0.8));
  gap: 30px;
}

.ingredient-hub ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
}

.ingredient-hub ul li:hover {
  color: rgb(25, 183, 231);
  font-weight: 600;
}

.ingredient-benefits,
.ingredient-benefits-a {
  width: 600px;
  margin: auto auto;
  display: flex;
  text-align: left;
  text-align: justify;
}

.ingredient-benefits-a ul {
  list-style: none;
  width: auto;
}

/*Emphasize words in paragraphs*/
.span-em {
  font-style: oblique;
}

/*Emphasize words in paragraphs end*/

.content-wrapper:nth-child(1) {
  margin: 10px 30px 20px;
  width: 300px;
  text-align: left;
  border-right: 2px solid lightgreen;
  font-size: 14pt;
}

.content-wrapper:nth-child(2) {
  margin-left: 30px;
  width: 560px;
  text-align: left;
}

ul li,
ol li {
  margin: 10px 0;
}

#paragraph-content1-wrapper {
  margin: 0 auto 0 auto;
  text-align: center;
}

footer {
  margin-top: -10px;
  margin-bottom: -60px;
  text-align: center;
  background-color: rgb(15, 157, 201);
}

footer div {
  display: flex;
  padding: 10px 10px;
  margin: auto auto;
  gap: 50px;
  text-align: center;
}

#contain-footer-content {
  display: flex;
  height: auto;
  width: 800px;
}

.wrap-footer,
form {
  display: block;
}

.footer-description {
  display: block;
  margin: auto auto;
}

.footer-description {}

.footer-description {}

.form-child {
  gap: 10px;
  text-align: left;
  width: inherit;

}

.form-child a:hover {
  background-color: darkcyan;
  transition-duration: .3s;
  transition-timing-function: ease;
  color: white;
}



/*Component rendering end*/